* {
    overflow-x: hidden;

    position: relative;


}



#navbar_top {
    position: fixed;
    width: 100%;
}

.bhj {
    margin-left: 109px;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.bpsl {
    font-size: 25px;
    font-weight: 500;
    margin-left: 67px;
    color: white;
}

.bhj2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: -13px;
    margin-bottom: 10px;
    padding-top: -7px;
    padding-left: 62px;
    color: white;
}

.saj {
    font-size: 56px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.nbh {
    border: 1px solid rgb(243 243 243);
    border-radius: 19px;
    border-width: 6px;
    border-spacing: 194cm;
    color: #eff2f3;
    font-size: 21px;
    color: white;

}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.set3 {
    border: 3px solid #7c84a3;
    margin-right: 71px;
    border-radius: 20px;
    width: 40%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sh1 {
    font-size: 35px;
    font-weight: 600;
    color: #e7c9c9;
    padding-left: 73px;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#bi {
    background-image: url(./bk.jpg);
    width: 100%;
    height: 30%;
    /* position: relative; */
    /* background-image: ; */
    overflow-y: hidden;

}


#m1 {
    width: 60%;
    height: 50%;
}

#im1 {
    width: 60%;
    height: 30%;

    margin-left: 198px;



    margin-top: -171px;

    position: relative;

}

#im2 {
    width: 100%;
    z-index: 2;

    position: relative;
    margin-top: -1030px;

}






#sec4 {
    background-color: #475480;
}

#imi {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding-left: 44px;

    margin-top: -138px;
    position: relative;


}

#sec2div {

    background: url(./bc2.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-screen__item-img {
    width: 102%;

}

#sec3 {
    background-image: url(./blueblack.webp);
}

#main2-p {
    background-image: url(./blueblack.webp);
}

.main-screen__main-img {
    max-width: 100%;
}

.malik {
    background: url("./Banner-complete.png") no-repeat;
    background-size: cover;
    background-position: center center;
    height: 598px;
}

.main-screen__title-img {
    max-width: 1023px;
    margin-bottom: 10px;
    position: relative;
}

.main-screen__main-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 513px;
}



.main-screen__items {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 22px 1fr 22px 1fr 22px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 22px;
    margin-top: 483px;

}



#t1h {



    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-top: 28px;



}

.sti1 {
    font-size: 33px;
    font-weight: 700;
    margin-left: 59px;
    border: 1px solid;
    border-radius: 12px;
    color: white;
    margin-bottom: 24px;
    margin-top: 15px;
}

#getStarted {
    font-size: 31px;
    font-weight: 700;
    padding-left: 87px;
    color: white;
}

.icon {
    width: 197px;
    height: 144px;
    border-radius: 50%;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 250ms ease-in-out;
}

#imf {

    margin-top: 115px;
    margin-right: 308px;
    z-index: 2;
    position: absolute;
    margin-left: 387px;



}

.controlClass {
    height: 15vh;
}

._1di {
    margin-right: -29px;
    margin-left: 404px;
    padding-left: 4px;
    margin-bottom: 4px;
    margin-top: -16px;
    padding-top: 11px;
    padding-bottom: 2px;
}



.bnm2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
}






#adi {


    width: 71%;
    height: 97%;
    margin-top: -84px;
    margin-bottom: 83px;
    margin-left: 0px;
}

.dec {
    border-radius: 1px solid red;
    background: transparent;
    background: #9d6868;
    width: 80%;
    background: transparent;
    margin-left: 20px;
}

.decc2::before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background: #2c35ff;
}

.sb {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #1da1f2;
    border-radius: 66px;
    padding: 11px 0;
    width: 142px;
    text-align: center;
    box-shadow: inset 0 0 0 2px #1da1f2;
    margin-top: 80px;
}

.bnm {
    margin-left: 20px
}

#fk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.setb {
    border: 3px solid #7c84a3;
    margin-left: 63px;
    border-radius: 20px;
    width: 40%;
}

.newb {

    width: 147px;
    height: 52px;
    display: block;
    padding: 10px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #1da1f2;
    border-radius: 66px;
    box-shadow: inset 0 0 0 2px #1da1f2;
    transition: background 250ms ease-in-out, color 250ms ease-in-out;
}

#cfl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b99696;
    background: transparent;
}

.sahi {
    width: 50%;
}

.cf2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cf22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid;
}

.cf21 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nn {
    font-size: 25px;
    font-weight: 700;
    padding-left: 81px;
}

.np {
    margin-right: 334px;
}

.cc {

    border-width: 1cm;

}

.ba {
    padding-left: 1px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: black;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 250ms ease-in-out;
}

.dflk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    padding-right: 0px
}

.dflk2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-right: 3px;
    margin-left: 91px;

}

.bnm3 {
    font-size: 25px;
    font-weight: 500;
    padding-right: 104px;
}

.my {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nakar {
    margin-left: -10px;
}

.c0 {
    width: 20%;
    border: 1px solid midnightblue;
    border-radius: 26px;
}

#ml {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trans {
    font-family: Garamond, serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-family: Garamond, serif;
    font-size: 49px;
    color: white;

}

.nti {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.nti2 {
    font-size: 17px;
    font-weight: 400;
    color: white;
}

.sti {
    padding-left: 36px;
    padding-top: -10px;
    margin-top: -18px;
}

.c1 {
    height: 90px;
}

.yk {
    font-family: "Inter";
    font-weight: 700;
    font-size: 15px;
    line-height: 2;
    color: #a5b0c3;
    transition: color 250ms ease-in-out;
    font-size: 33px;
    font-weight: 600;
    margin-top: 53px;
    padding-left: 12px;
}

.bad2 {

    width: 48px;
    height: 48px;

}

.bad3 {
    width: 50px;
    height: 50px;

}

.nsb {
    background: url(./background.png), #141825;
    background-size: cover, cover;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.dm {
    font-size: 34px;
    font-weight: 600;
}

.spnn {
    font-size: 22px;
    font-weight: 400;
    color: #a6dcf2;
}



.sdp2 {
    font-size: 24px;
    font-weight: 400;
    color: #e2d8d8;
}

.skb {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.nfp {
    font-size: 17px;
    font-weight: 400;
    color: white;
}

#sec5 {
    background: black;
}

.g3 {
    width: 20%;
    height: 83%;
}

#fl2b {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
}

@media only screen and (max-width: 768px) {
   
    

    #im2 {
        width: 90%;
        margin-top: -512px;
        margin-left: 15px;
    }

    #im1 {
        margin-left: 108px;
        padding-top: 103px;
    }

    #fl2b {
        width: 70%;
        margin-left: 50px;
    }




    

    .sh1 {
        padding-left: 50px;
    }

    #fk {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .setb {
        width: 64%;
        padding-right: -4px;
        margin-left: 110px;
    }

    .set3 {
        margin-left: 107px;
        width: 64%;
        margin-top: 26px;
    }

    .nn {
        font-size: 21px;
        font-weight: 600;
        padding-left: 46px;
        margin-top: 5px;
    }

    .np {
        margin-right: 69px;
    }

    #cfl {
        margin-top: 14px;

    }

    #ml {
        flex-direction: column;
    }


    .c0 {
        width: 60%;
        margin-left: 140px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cf21 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {

    #im1 {

        margin-left: 93px;

        margin-top: -60px;

    }

    #imf {

        margin-top: 134px;
        margin-right: 299px;
        z-index: 2;
        position: absolute;
        margin-left: 67px;
    }

    #im2 {
        width: 90%;
        margin-top: -382px;
        margin-left: 20px;

    }

    #fl2b {
        width: 1000%;
        height: 100%;
        margin-left: 0px;
        padding-left: 0px;
        flex-direction: column;
        margin-bottom: 18px;
        padding-bottom: 0px;
        margin-top: 1px;
    }

    ._1di {
        margin-right: -71px;
        margin-left: 148px;
        padding-left: 4px;
        margin-bottom: 3px;
        margin-top: -6px;
        padding-top: 12px;
        padding-bottom: 4px;
    }


#t1h {
    font-size: 20px;
    width: 97%;
    text-align: center;
    margin-right: 105px;
}

.malik {
    height: 561px;
    width: 119%;
}

.icon {
    width: 82px;
    height: 65px;
    border-radius: 50%;
    margin-right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 250ms ease-in-out;
}

.dflk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding-right: 8px;
    padding-left: 42px;
}
}

.dflk2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

#adi {
    width: 36%;
    height: 97%;
    margin-top: -18px;
    margin-bottom: 197px;
    margin-left: 0px;
}

.nakar {
    margin-left: 0px;
    margin-top: -58px;
}

#fk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 151%;
    margin-left: -102px;
}

.setb {
    width: 64%;
    padding-right: -4px;
    margin-left: 110px;
}

.controlClass {
    height: 5vh;
}

.skb {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.bpsl {
    margin-left: 17px;

}

.np {
    margin-right: 35px;
    padding-top: 8px;
}

.nn {
    font-size: 17px;
    font-weight: 600;
    padding-left: 17px;
    margin-top: 3px;
}

.c0 {
    width: 86%;
    margin-left: 26px;
    margin-top: -2px;
    margin-bottom: 20px;
}

.yk {

    font-size: 23px;
    font-weight: 600;

}

.bnm {
    margin-left: 0px;
    width: 87%;
    margin-top: 13px;
}

.bhj2 {
    margin-left: -11px;
}

.bhj {
    font-weight: 700;
    margin-left: 60px;
    margin-top: 32
}

}

@media only screen and (max-width: 540px) {
    .saj {
        font-size: 40px;
        margin-left: 41px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-decoration: underline;
    }

}





@media only screen and (max-width: 995px) {

    .main-screen__title-img {
        max-width: 367px;
    }
}



@media (max-width: 767px) {
    .na {
        padding: 0 15px;
    }
}

;

@media (max-width: 767px) {

    .main-screen__items {
        -ms-grid-columns: (1fr) [2];
        grid-template-columns: repeat(3, 1fr);
        row-gap: 22px;
        margin-top: 334px;
        padding-right: 74px;
    }
}

